.bg {
    background-color: none;
    background-image: ("bloody.png");
    background-position: top left;
    background-attachment: fixed;
}
body {
  font-family: cursive;
  background-color: darkgrey;
  font-size: 30px;
  color:lightgrey;
}
img {
  image-orientation: center;
}
.answer-block > input{
  display:block;
}

h1 {
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    font-size: 20px;
}

p {
    font-family: verdana;

}

.hidden{
  display:none;
}
