/*.bg {
    background-color: none;
    background-image: ("bloody.png");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}*/

img {
  image-orientation: center;
}

h1 {
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    
    font-size: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
}
